.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 1280px;
	margin: auto;
	font-family: "Ubuntu", sans-serif;
}

.background {
	position: fixed;
	z-index: -1;
	inset: 0;
	transition: 0.75s;
}

.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border-bottom: 2px solid black;
}

.choices {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 2rem;
	list-style-type: none;
	padding: 0;
}

.choices a {
	border: 2px solid;
	border-radius: 5px;
	padding: 5px 20px;
	color: white;
	font-weight: 500;
	cursor: pointer;
}

.choices li:first-child a {
	border-color: orange;
	background-color: orange;
}

.choices li:nth-child(2) a {
	border-color: cornflowerblue;
	background-color: cornflowerblue;
}

.choices li:first-child:hover ~ .background {
	background-color: rgb(255, 165, 0, 0.5);
}

.choices li:nth-child(2):hover ~ .background {
	background-color: rgb(100, 149, 237, 0.5);
}

.offers {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.card {
	border: 2px solid black;
	text-align: center;
}
